

.bg-orange{
   color: #ff8f00;
}

.bg-grey{
    color: #5b5858
}

.bg-lightgrey{
    background-color: #e5e5e5;
}

.bg-blue{
    background-color: #1b72e8;
}

.font-white{
    color: white;
}

ul>li{
    list-style-type: none;
}

header.nav, div.ricerca{
    margin:0;
    max-width: 100%;
}

div.contenuto{
    display: flex;
    background-color: #f8f9fa;
}

div.contenuto> header.nav-laterale{
    width: 8%;
    margin: 0;
    height: calc(100vh - 80px);
    color: white;
    background-image: url(../img/sidebar-bg.png);
    background-color:#13293f ;
}

main{
    width: 92%;
}