

.bg-orange{
   color: #ff8f00;
}

.bg-grey{
    color: #5b5858
}

.bg-lightgrey{
    background-color: #e5e5e5;
}

.bg-blue{
    background-color: #1b72e8;
}

.bg-green{
    background-color: #198754;
}

.font-white{
    color: white;
}

ul>li{
    list-style-type: none;
}

header.nav, div.ricerca{
    margin:0;
    max-width: 100%;
}

div.contenuto{
    display: flex;
    background-color: #f8f9fa;
}

div.contenuto> header.nav-laterale{
    width: 130px;
    margin: 0;
    height: calc(100vh - 80px);
    color: white;
    background-image: url(../img/sidebar-bg.png);
    background-color:#13293f ;
}

div.contenuto> main{
    width: calc(100% - 130px);
    height: calc(100vh - 80px);
    overflow-y: scroll;
}

.w-64{
    width: 64%;
}

.w-12{
    width: 12%;
}

.w-10{
    width: 10%;
}

.w-8{
    width: 8%;
}


.w-7{
    width: 7%;
}

table{
    font-size: 12px;
}

.table > tbody:nth-child() > tr:nth-child(2) > td:nth-child(4) > span:nth-child(1) {
    border-radius: 5px;
  }

  div.card:nth-child(2), div.card:nth-child(3) {
    height: fit-content;
  }
  
  